@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tilt+Neon&display=swap');

// Переменные
%flexCenter {
  display: flex;
  justify-content: center;
}
// Цвета:
$dark: #333333;
$gray: #EFEFEF;
$white: #FFFFFF;
$black: #000000;
$orange: #ffc508;
$blue: #0044ff;
// Толщина текста:
$mediumW: 500;
$boldW: 700;
// Размер текста:
$smallF12: 12px;
$smallF14: 14px;
// Семейство шрифтов:
$roboto: 'Roboto', sans-serif;
$tiltNeon: 'Tilt Neon', cursive;

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

// Основа
body {
  font-family: $roboto;
  font-size: $smallF14;
  margin: 0 auto;
  color: $dark;
}

// Header
.header {
  @extend %flexCenter;
  &__title {
    text-transform: uppercase;
    font-family: $tiltNeon;
  }
}

// Main
.main {
  @extend %flexCenter;
}

// Post
.post {
  margin-bottom: 120px;
  &__form {
    @extend %flexCenter;
    flex-direction: column;
    gap: 10px;
  }
  &__textarea {
    padding: 15px;
    border: 2px solid $gray;
    border-radius: 16px;
    color: $dark;
    resize: none;
    outline: none;
  }
  &__input {
    outline: none;
    border: 2px solid $gray;
    padding: 4px 6px;
    border-radius: 4px 10px;
  }
  &__btn {
    background-color: $orange;
    border: 2px solid $orange;
    border-radius: 4px 10px;
    padding: 4px 10px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      border-radius: 10px 4px;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
  }
  &__date {
    border: 2px solid $gray;
    border-radius: 4px 10px;
    padding: 4px 6px;
    outline: none;
  }
}

#conversation {
  max-width: 540px;
}

// Post list
.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    gap: 10px;
  }
  &__content {
    border: 2px solid $gray;
    padding: 10px;
    border-radius: 10px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__avatar {
    width: 60px;
    height: 60px;
  }
  &__body {
    word-break: break-word;
    margin-bottom: 8px;
    max-width: 400px;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s;
    &:hover {
      transform: scale(1.4);
    }
  }
  &__name {
    color: $blue;
    opacity: .82;
    font-weight: $boldW;
    margin-bottom: 2px;
  }
  &__date {
    font-size: $smallF12;
  }
}