@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tilt+Neon&display=swap');
@import 'reset.scss';

%flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@mixin border($size, $color, $radius) {
  border: 1px solid $color;
  border-radius: $radius;
}

// Цвета:
$dark: #333333;
$gray: #EFEFEF;
$white: #FFFFFF;
$black: #000000;
$orange: #ffc508;
$blue: #0044ff;

// Толщина текста:
$mediumW: 500;
$boldW: 700;

// Размер текста:
$smallF12: 12px;
$smallF14: 14px;

// Семейство шрифтов:
$roboto: 'Roboto', sans-serif;
$tiltNeon: 'Tilt Neon', cursive;

body {
  font-family: $roboto;
  font-size: $smallF14;
  margin: 0 auto;
  color: $dark;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: transparent;
  @include border(1px, $gray, 4px);
  padding: 6px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  &:active {
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
  }
}

// Header
.header {
  @extend %flexCenter;
  &__title {
    text-transform: uppercase;
    font-family: $tiltNeon;
  }
}

// Main
.main {
  @extend %flexCenter;
}

// Post
.post {
  margin-bottom: 120px;
  &__form {
    @extend %flexCenter;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  &__textarea {
    padding: 15px;
    @include border(2px, $gray, 16px);
    color: $dark;
    resize: none;
    outline: none;
  }
  &__input {
    outline: none;
    @include border(2px, $gray, 4px);
    padding: 4px 6px;
  }
  &__btn {
    background-color: $orange;
    @include border(2px, $orange, 4px);
    padding: 4px 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    &:hover {
      border-radius: 4px 10px;
    }
    &:active {
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
    }
  }
  &__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4px;
  }
  &__date {
    @include border(2px, $gray, 4px);
    padding: 4px 6px;
    outline: none;
  }
}

#conversation {
  max-width: 540px;
}

// Post list
.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  &__content {
    @include border(2px, $gray, 10px);
    padding: 10px;
  }
  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  &__avatar {
    width: 60px;
    height: 60px;
  }
  &__body {
    word-break: break-word;
    margin-bottom: 8px;
    max-width: 400px;
  }
  &__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 6px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    &:hover {
      -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
              transform: scale(1.4);
    }
  }
  &__name {
    color: $blue;
    opacity: .82;
    font-weight: $boldW;
    margin-bottom: 2px;
  }
  &__date {
    font-size: $smallF12;
  }
}